:root {
    --primary-color: #264653;
    --secondary-color: #2a9d8f;
    --accent1-color: #e9c46a;
    --accent2-color: #f4a261;
    --heading-font: Georgia, "Times New Roman", serif;
    --body-font: Arial, Helvetica, sans-serif;
}