:root {
    --primary-color: #264653;
    --secondary-color: #2a9d8f;
    --accent1-color: #e9c46a;
    --accent2-color: #f4a261;
    --heading-font: Georgia, "Times New Roman", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}